body{
	margin: 0;
	font-family: Arial;
	font-size: 12px;

}

.topo{

	height: 30px;
	background-color: #333;
	color:#FFF;
}

.topoint{
	width: 100%;
	max-width:1040px;
	height: 30px;
	margin:auto;
}

.topoleft{
	width: 50%;
	height: 30px;
	float: left;
	
}

.toporight{
	width: 50%;
	height: 28px;
	float: right;
	text-align: right;
	margin-top: 2px;
}

.topoleft ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.topoleft li{
	height: 30px;
	line-height: 30px;
	float: left;
	margin-left: 8px;
	margin-right: 8px;
}

.topoleft li a{
	text-decoration: none;
	color: #FFF;
}

.topoleft li .ativo {
	color: blue;

}

.topobusca{
	width: 110px;
	height: 26px;
	outline: 0;
}

.toporight a{
	float: right;
}

.toporight input{
	float: right;
}

.toporight img {
	margin-right: 5px;
}

.topo2{

	height: 95px;
	color: #000;
	background-color: #FFF;
}

.topo2int{

	width: 100%;
	max-width:1040px;
	height: 95px;
	margin:auto;

}

.logo{
	width: 230px;
	height: 90px;
	float: left;
	margin-top: 5px;
}

.topo2 .banner{
	width: 650px;
	height: 80px;
	float: right;
	margin-top: 7px;
	background-color: #FF0000;
}

.menu{
	height: 40px;
	background-color: #FF0000;
}

.menuint{
	width: 100%;
	max-width: 1040px;
	height: 40px;
	margin:auto;

}

.menu ul{
	margin: o;
	padding: 0;
	list-style: none;

}

.menu li{
	float:left; 
	height: 40px;
	line-height: 40px;
	padding-left: 8px;
	padding-right: 8px;
}

.menu li:hover .submenu{
	display: block;
}

.menu a{
	color: #FFF;
	text-decoration: none;
}

.submenu{
	width: 150px;
	background-color: #FF0000;
	position: absolute;
	display: none;
}

.submenuitem{
	width: 140px;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
}

.submenuitem:hover{
	background-color: #FF5555;
}

.ultimasnoticias{
	height: 40px;
	
}

.ultimasnoticiasint{
	width: 100%;
	height: 40px;
	max-width: 1040px;
	margin: auto;
	
}

.ultnoticiaarea{
	height: 28px;
	background-color: #FFF;
	border: 1px solid #CCC;
	margin-top: 10px;
}

.ultnoticiastitulo{
	background-color: #FF0000;
	color: #FFF;
	height: 28px;
	line-height: 28px;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 16px;

}

.ultnoticiasnoticia{
	color: #000;
	height: 28px;
	line-height: 28px;
	display:inline-block;
	padding-left: 5px;
}

.containerint{
	width: 100%;
	max-width: 1040px;
	margin: auto;
	
}

.leftside{
	width: 753px;
	float: left;
	

}

.rightside{
	width: 275px;
	min-height: 200px;
	float: right;
	margin-left: 12px;
}

.widget{
	border: 1px solid #CCC;
	background-color: #FFF;
	margin-bottom: 10px;
}

.widget_titulo{
	height: 30px;
	line-height: 30px;
	background-color: #DDD;
	border-bottom: 1px solid #CCC;
	padding-left: 5px;
	font-size: 14px;
}

.widget_conteudo{
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.noticia_item{
	font-size: 14px;
	margin:0px 10px;
	padding: 10px 0px;
	text-align: left;
	border-bottom: 1px solid #ccc;
}

.noticia_item a{
	text-decoration: none;
	color: #000;
}

.slideshow{
	height: 335px;
	background-color: #CCC;
	overflow: hidden;
	margin-bottom: 20px;
}

.slideshowarea{
	width: 100000px;
	height: 335px;
	background-color: #DDD;
	transition: all 1s;
}

.slide{
	height: 335px;
	float: left;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.slideinfo{
	height: 10px;
	background-image: url('../images/slideshow_bg.png');
	background-size: auto 70px;
	margin-top: 265px;
}

.slideinfo_titulo{
	font-size: 20px;
	color: #000;
	padding-top: 15px;
	padding-left: 20px;

}
.slideinfo_subtitulo{
	font-size: 13px;
	color: #000;
	padding-left: 20px;
	
}

.slidebolinhas{
	position: absolute;
	width: 200px;
	height: 20px;
	
}
.bolinha{
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 5px;
	cursor: pointer;
	background-color: #CCC;
	border-radius: 10px;
}
.noticiaarea1{
	width: 430px;
	height: 420px;
	float: left;
	
}

.noticiaarea2{
	width: 320px;
	height: 420px;
	float: left;
	
}

.noticiaitem{
	text-align: left;
	height: 88px;
	margin-top: 7px;
	margin-bottom: 7px;
}
.noticiaimg{
	width: 80px;
	height: 80px;
	border:1px solid #CCC;
	padding: 3px;
	float: left;
}
.noticiatitulo{
	float: left;
	margin-left: 6px;
	font-size: 16px;
	width: 226px;
	color: #000;
}

.noticiainfo{
	width: 226px;
	font-size: 12px;
	margin-left: 6px;
	color: #999;
	float: left;
}

.noticiabig{
	margin-left: 10px;
}

.noticiabig .noticiaimg{
	width: 384px;
	height: 222px;

}

.noticiabig .noticiaimg img{
	width: 384px;
	height: 222px;

}

.noticiabig .noticiatitulo{
	width: 384px;
	font-size: 30px;
}

.menumobile{
	display: none;
}

@media only screen and (min-width: 906px) and (max-width: 1057px){

	.topoint,
	.topo2int,
	.menuint,
	.ultimasnoticiaint,
	.containerint{
		max-width: 890px;
	}
	.leftside{
		width: 600px;
	}

	.noticiaarea1{
		width: 278px;
	}
	.noticiabig .noticiaimg{
		width: 245px;
	}

	.noticiabig .noticiaimg img{
		width: 245px;
	}

	.noticiabig .noticiatitulo{
		width: 245px;
		font-size: 25px;
	}
	#menu{
		display: block !important; 
	}

}

@media only screen and(min-width: 783px)and (max-width: 906px){


	.topoint,
	.topo2int,
	.menuint,
	.ultimasnoticiaint,
	.containerint{
		max-width: 768px;
	}

	.topo2 .banner{
		display: none;
	}

	#menu{
		display: block !important; 
	}

	.logo{
		display: none;
		margin: auto;
	}

	.rightside{
		display: none;

	}
	.leftside{
		float: none;
		width: auto;
	}

	.noticiaarea1{
		width: 446px;
	}
	.noticiabig .noticiaimg{
		width: 415px;
	}

	.noticiabig .noticiaimg img{
		width: 415px;
	}

	.noticiabig .noticiatitulo{
		width: 415px;
		font-size: 25px;
	}

}

@media only screen and (max-width: 783px){

	.topoint,
	.topo2int,
	.menuint,
	.ultimasnoticiaint,
	.containerint{
		max-width: 320px;
	}

	.topoleft{
		display: none;
	}

	.toporight{
		width: 100%;
	}

	.topo2 .banner{
		display: none;
	}

	#menu{
		display: block !important; 
	}


	.logo{
		display: none;
		margin: auto;
	}

	.menumobile{
		display: block;
	}

	.menu ul{
		position: absolute;
		background-color: red;
		z-index: 10;
		display: none;
	}

	.menu li{
		float: none;
		height: auto;
	}

	.menu li img {
		display: none;
	}

	.submenu{
		position: static;
		display: block;
	}

	.ultimasnoticias{
		display: none;
	}

	.rightside{
		display: none;

	}
	.leftside{
		float: none;
		width: auto;
		margin-top: 10px;
	}

	.noticiaarea1{
		width: 320px;
		height: auto;
	}
	.noticiabig .noticiaimg{
		width: 290px;
	}

	.noticiabig .noticiaimg img{
		width: 290px;
	}

	.noticiabig .noticiatitulo{
		width: 290px;
		font-size: 25px;
	}

	.noticiaarea2{
		width: 300px;
		margin: auto;
		float: none;
		clear: both;
		padding-top: 20px;

	}

	.noticiaitem{
		clear: both;
	}
	.noticiatitulo{
		width: 206px;

	}
	.noticiainfo{
		width: 206px;
	}
}














